---
// Style Imports
import '../../styles/global.css';

// common.min.css is distributed with agnostic-react
// and agnostic-svelte too. But, since we're using all
// of these together, we only need to import global CSS
// once and in one place.
// common.min.css combines properties, resets, utilities
// import "agnostic-vue/dist/common.min.css";
// But!! Rob much prefers individual modular import ;)
import "agnostic-vue/dist/common.properties.min.css";
import "agnostic-vue/dist/common.resets.min.css";
import "agnostic-vue/dist/common.utilities.min.css";
import "agnostic-vue/dist/opinions.min.css";

// Component Imports
import "agnostic-vue/dist/index.css";
import Card from "agnostic-vue";
import { Image } from "astro:assets";
import TAPHeader from '../../components/TAPHeader.vue';

// Read from conten collection
import { getCollection } from 'astro:content';
import Crumbs from "../../components/Crumbs.vue"
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map(project => ({
    params: { slug: `${project.data.year}/${project.data.semester}/${project.data.id}` }, props: { project },
  }));
}
// 2. For your template, you can get the entry directly from the prop
// const { slug } = Astro.params;
const { project } = Astro.props;
const { Content } = await project.render();

// BreadCrumb variables
const  projYear  = project.data.year;
const  projSemester  = project.data.semester;
const  projName  = project.data.title;

// Page title
let title = `${project.data.title} - Outreach Projects - GGC Technology Ambassadors Program`;

---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<style>		
	</style>
	
</head>
<body class=body-prj>
	<main>
		<TAPHeader client:load />
		<Crumbs pageType="project" pageUrl=`/projects/${projYear}/${projSemester}/${projName}`/>


    <h1>{project.data.title}</h1>
	<Image src={project.data.image} alt={project.data.title} />
    <Content />
	</main>
	
</body>
</html>